:root {

  //Font
  --primary-fontFamily: "Inter", sans-serif;

  //Color
  --primary-color: #1C1C28;
  --secondary-color: #18A0FB;
  --tertiary-color: #FFFFFF;

  --accentBrand-color: var(--secondary-color);
  --accentBrandHover-color: #18A0FB;
  --accentSecondary-color: #E45555;
  --accentTertiary-color: #16B57F;

  //Text
  --primary-textColor: var(--tertiary-color);
  --secondary-textColor: #C8C7D8;
  --tertiary-textColor: #A59EBA;

  //Bg
  --primary-bgColor: var(--primary-color);
  --secondary-bgColor: #393953;
  --secondaryHover-bgColor: #4F4C64;

  //Border
  --primary-borderColor: linear-gradient(#FFFFFF, #FFFFFF00);
  --primaryHover-borderColor: #393953;

  //Gradient
  --brand-gradient: linear-gradient(#393953, #3939535C);
  --primary-gradient: linear-gradient(#2C2C3D, #1A1A27);

}